# PROD overrides for the Helm chart
global:
  dockerRegistry: ""   # CI sets: docker.io/<org> or <acr>.azurecr.io
  imagePullPolicy: IfNotPresent   # or Always if you rely on :latest
  spot:
    enabled: false  # Enable spot nodes for cost optimization in prod
  dapr:
    enabled: true
    configName: dapr-config

namespace:
  create: true
  name: prod

cronjobs:
  statsPing:
    enabled: false

  refreshSessionsCleanup:
    enabled: true
    schedule: "30 2 * * *"   # nightly at 02:30

manager:
  image:
    name: manager  # Required: image name for the container
    # tag will be set dynamically via global.environment by CI/CD
  env:
    ASPNETCORE_URLS: "http://+:5001"
  # Consider adding resource limits here if you introduce them in templates
  ingress:
    enabled: true
    host: teachin-prod.westeurope.cloudapp.azure.com
    basePath: /api
    tls:
      enabled: true
      clusterIssuer: letsencrypt-prod
      secretName: teachin-tls

learningManager:
  image:
    tag: "1.0.0"
  env:
    ASPNETCORE_URLS: "http://+:5004"
  # Consider adding resource limits here if you introduce them in templates
  ingress:
    enabled: true
    host: teachin.westeurope.cloudapp.azure.com
    basePath: /api-learning
    tls:
      enabled: true
      clusterIssuer: letsencrypt-prod
      secretName: teachin-tls

engine:
  image:
    name: engine  # Required: image name for the container
    # tag will be set dynamically via global.environment by CI/CD
  env:
    ASPNETCORE_URLS: "http://+:5002"
    AzureOpenAI__Endpoint: "https://france-teachin-open-ai.openai.azure.com/"
    AzureOpenAI__ApiKey: ""     # injecting via secret/CI
    AzureOpenAI__DeploymentName: "gpt-4.1-mini"
    AzureOpenAI__ModelId: "gpt-4o-mini"
    AzureSpeech__SubscriptionKey: ""
    AzureSpeech__Region: "eastus"
    AzureSpeech__DefaultVoice: "he-IL-HilaNeural"
    AzureSpeech__TimeoutSeconds: "70"
    Tavily__ApiKey: ""
    Tavily__MaxResults: "5"
    Tavily__IncludeAnswer: "true"
    Tavily__IncludeRawContent: "false"
    Tavily__SearchDepth: "basic"

aiEngine:
  image:
    tag: "1.0.0"
  env:
    ASPNETCORE_URLS: "http://+:5005"

accessor:
  image:
    name: accessor  # Required: image name for the container
    # tag will be set dynamically via global.environment by CI/CD
  env:
    ASPNETCORE_URLS: "http://+:5003"

storageAccessor:
  image:
    tag: "1.0.0"
  env:
    ASPNETCORE_URLS: "http://+:5006"

databaseAccessor:
  image:
    tag: "1.0.0"
  env:
    ASPNETCORE_URLS: "http://+:5007"

# Langfuse Configuration (disabled in prod)
langfuse:
  enabled: false