apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: zionet-apps-set
  namespace: argocd
spec:
  generators:
  - list:
      elements:
      - env: featest
        targetNamespace: featest
        createNamespace: "true"
  template:
    metadata:
      name: 'zionet-apps-{{env}}'
      annotations:
        # 1. Image List
        argocd-image-updater.argoproj.io/image-list: >-
          manager=teachindevacr.azurecr.io/manager,
          accessor=teachindevacr.azurecr.io/accessor,
          engine=teachindevacr.azurecr.io/engine
        
        # 2. Update strategy - newest-build 
        argocd-image-updater.argoproj.io/manager.update-strategy: newest-build
        argocd-image-updater.argoproj.io/accessor.update-strategy: newest-build
        argocd-image-updater.argoproj.io/engine.update-strategy: newest-build
              
        # 3. Allow tags
        argocd-image-updater.argoproj.io/manager.allow-tags: "regexp:^{{env}}-[a-f0-9]+$"
        argocd-image-updater.argoproj.io/accessor.allow-tags: "regexp:^{{env}}-[a-f0-9]+$"
        argocd-image-updater.argoproj.io/engine.allow-tags: "regexp:^{{env}}-[a-f0-9]+$"

        # 4. Helm parameter paths - שימוש ב-image-spec עבור הבעייתיים
        
        # MANAGER - משתמש ב-tag ו-name בנפרד (כיוון שעבד לפני)
        argocd-image-updater.argoproj.io/manager.helm.image-tag: manager.image.tag 
        argocd-image-updater.argoproj.io/manager.helm.image-name: manager.image.name
        
        # ACCESSOR & ENGINE - שימוש ב-image-spec לכפיית נתיב אחד
        argocd-image-updater.argoproj.io/accessor.helm.image-spec: accessor.image.repository
        argocd-image-updater.argoproj.io/engine.helm.image-spec: engine.image.repository

        # 5. Write back method
        argocd-image-updater.argoproj.io/write-back-method: argocd
        # Pull secret
        argocd-image-updater.argoproj.io/manager.pull-secret: pullsecret:argocd/acr-credentials
        argocd-image-updater.argoproj.io/accessor.pull-secret: pullsecret:argocd/acr-credentials
        argocd-image-updater.argoproj.io/engine.pull-secret: pullsecret:argocd/acr-credentials
    spec:
      project: default
      source:
        repoURL: 'https://github.com/ZionetLearning/learning-teachin-zionet.git'
        targetRevision: snir-avichai/1047/create-argocd
        path: devops/kubernetes/charts
        helm:
          valueFiles:
            - values.yaml
            - 'values.template.yaml' 
          parameters:
          - name: global.namePrefix
            value: '{{env}}'
          - name: namespace.name
            value: '{{targetNamespace}}'
          - name: namespace.create
            value: '{{createNamespace}}'
          - name: namePrefix
            value: '{{env}}'
          - name: global.dockerRegistry
            value: teachindevacr.azurecr.io
          - name: global.environment
            value: '{{env}}'
          - name: langfuse.enabled
            value: "false"
          - name: accessor.secrets.langfuse.enabled
            value: "false"
          - name: dapr.stateStore.redis.redisDB
            value: "0"
          - name: dapr.installComponents
            value: "false"

          # --- פרמטרים עבור MANAGER (נשארים כפי שהם) ---
          - name: manager.image.tag
            value: '{{env}}' 
          - name: manager.image.name
            value: manager 

          # --- פרמטרים עבור ACCESSOR ו-ENGINE (שימוש ב-repository מלא) ---
          # זה הערך ההתחלתי. ה-A.I.U יחליף את {{env}} בתגית המלאה.
          - name: accessor.image.repository
            value: teachindevacr.azurecr.io/accessor:{{env}} 
          - name: engine.image.repository
            value: teachindevacr.azurecr.io/engine:{{env}}
            
      destination:
        server: 'https://kubernetes.default.svc'
        namespace: '{{targetNamespace}}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true