apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: zionet-apps-set
  namespace: argocd
spec:
  generators:
  - list:
      elements:
      - env: featest
        targetNamespace: featest
        createNamespace: "true"
  template:
    metadata:
      name: 'zionet-apps-{{env}}'
      annotations:
        # 1. Image List - רק רכיבים שצריכים עדכון (Manager הוסר)
        argocd-image-updater.argoproj.io/image-list: >-
          accessor=teachindevacr.azurecr.io/accessor,
          engine=teachindevacr.azurecr.io/engine
        
        # 2. Update strategy 
        argocd-image-updater.argoproj.io/accessor.update-strategy: newest-build
        argocd-image-updater.argoproj.io/engine.update-strategy: newest-build
              
        # 3. Allow tags
        argocd-image-updater.argoproj.io/accessor.allow-tags: "regexp:^{{env}}-[a-f0-9]+$"
        argocd-image-updater.argoproj.io/engine.allow-tags: "regexp:^{{env}}-[a-f0-9]+$"

        # 4. Helm parameter paths - שימוש ב-image-spec לכפיית נתיב אחד
        argocd-image-updater.argoproj.io/accessor.helm.image-spec: accessor.image.repository
        argocd-image-updater.argoproj.io/engine.helm.image-spec: engine.image.repository

        # 5. Write back method
        argocd-image-updater.argoproj.io/write-back-method: argocd
        # Pull secret
        argocd-image-updater.argoproj.io/accessor.pull-secret: pullsecret:argocd/acr-credentials
        argocd-image-updater.argoproj.io/engine.pull-secret: pullsecret:argocd/acr-credentials
    spec:
      project: default
      source:
        repoURL: 'https://github.com/ZionetLearning/learning-teachin-zionet.git'
        targetRevision: snir-avichai/1047/create-argocd
        path: devops/kubernetes/charts
        helm:
          valueFiles:
            - values.yaml
            - 'values.template.yaml' 
          parameters:
          - name: global.namePrefix
            value: '{{env}}'
          - name: namespace.name
            value: '{{targetNamespace}}'
          - name: namespace.create
            value: '{{createNamespace}}'
          - name: namePrefix
            value: '{{env}}'
          - name: global.dockerRegistry
            value: teachindevacr.azurecr.io
          - name: global.environment
            value: '{{env}}'
          - name: langfuse.enabled
            value: "false"
          - name: accessor.secrets.langfuse.enabled
            value: "false"
          - name: dapr.stateStore.redis.redisDB
            value: "0"
          - name: dapr.installComponents
            value: "false"

          # --- פרמטרים של MANAGER הוסרו ---

          # --- כפיית התגית המלאה והעדכנית ביותר (כדי למנוע עדכון חוזר) ---
          - name: accessor.image.repository
            # **שימו לב: תגית מלאה צריכה להיות כאן, החלף אם יש תגית חדשה!**
            value: teachindevacr.azurecr.io/accessor:featest-e6e9e15 
          - name: engine.image.repository
            # **שימו לב: תגית מלאה צריכה להיות כאן, החלף אם יש תגית חדשה!**
            value: teachindevacr.azurecr.io/engine:featest-e6e9e15
            
      destination:
        server: 'https://kubernetes.default.svc'
        namespace: '{{targetNamespace}}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true