apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: teachin-ingress
  namespace: devops-logs
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - ${GRAFANA_DOMAIN:-teachin.westeurope.cloudapp.azure.com}
      secretName: ${TLS_SECRET_NAME:-teachin-tls}
  rules:
  - host: ${GRAFANA_DOMAIN:-teachin.westeurope.cloudapp.azure.com}
    http:
      paths:
      - path: /grafana
        pathType: Prefix
        backend:
          service:
            name: grafana
            port:
              number: 80