persistence:
  enabled: true
  size: 5Gi

service:
  type: ClusterIP

resources:
  requests:
    memory: 128Mi
  limits:
    memory: 256Mi

sidecar:
  dashboards:
    enabled: true
    searchNamespace: devops-logs
  datasources:
    enabled: true

plugins:
  - grafana-azure-monitor-datasource

extraConfigmapMounts:
  - name: grafana-alerting
    configMap: grafana-alerting
    mountPath: /etc/grafana/provisioning/alerting/alerts-rules.yaml
    subPath: alerts-rules.yaml
    readOnly: true
  - name: grafana-alerting-policy
    configMap: grafana-alerting-policy
    mountPath: /etc/grafana/provisioning/alerting/notification-policy.yaml
    subPath: notification-policy.yaml
    readOnly: true
  - name: grafana-notifiers
    configMap: grafana-notifiers
    mountPath: /etc/grafana/provisioning/alerting/notifier-teams.yaml
    subPath: notifier-teams.yaml
    readOnly: true

extraEnvFrom:
  - secretRef:
      name: azure-monitor-secret

# Prefer spot nodes but allow fallback to stable nodes if spot is evicted
affinity:
  nodeAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        preference:
          matchExpressions:
            - key: node-type
              operator: In
              values:
                - spot

tolerations:
  - key: "kubernetes.azure.com/scalesetpriority"
    operator: "Equal"
    value: "spot"
    effect: "NoSchedule"