apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.manager.name }}
  namespace: {{ include "app.namespace" . }}
  labels:
    {{ .Values.manager.labels.selectorKey }}: {{ .Values.manager.labels.selectorValue }}
spec:
  replicas: 0
  selector:
    matchLabels:
      {{ .Values.manager.labels.selectorKey }}: {{ .Values.manager.labels.selectorValue }}
  template:
    metadata:
      labels:
        {{ .Values.manager.labels.selectorKey }}: {{ .Values.manager.labels.selectorValue }}
      annotations:
        {{ include "app.dapr.annotations" (dict
            "enabled" .Values.global.dapr.enabled
            "appId" (.Values.manager.dapr.appId | default .Values.manager.name)
            "appPort" .Values.manager.dapr.appPort
            "config"  (.Values.global.dapr.configName | default "dapr-config")
        ) | nindent 8 }}
        dapr.io/sidecar-cpu-request:  "{{ .Values.global.dapr.sidecar.requests.cpu }}"
        dapr.io/sidecar-memory-request: "{{ .Values.global.dapr.sidecar.requests.memory }}"
        dapr.io/sidecar-cpu-limit:    "{{ .Values.global.dapr.sidecar.limits.cpu }}"
        dapr.io/sidecar-memory-limit: "{{ .Values.global.dapr.sidecar.limits.memory }}"
    spec:
      {{- if .Values.global.imagePullSecret.enabled }}
      imagePullSecrets:
        - name: {{ .Values.global.imagePullSecret.name }}
      {{- end }}
      containers:
        - name: {{ .Values.manager.name }}
          image: {{ include "app.image" (dict "name" .Values.manager.image.name "tag" .Values.manager.image.tag "Values" .Values) }}
          imagePullPolicy: {{ .Values.global.imagePullPolicy }}
          ports:
            - containerPort: {{ .Values.manager.ports.container }}
              protocol: TCP
          env:
            - name: ASPNETCORE_URLS
              value: "{{ .Values.manager.env.ASPNETCORE_URLS }}"
            - name: ServiceBus__ConnectionString
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.manager.secrets.serviceBus.name }}
                  key: {{ .Values.manager.secrets.serviceBus.key }}
            - name: Jwt__Secret
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.manager.secrets.jwt.name }}
                  key: {{ .Values.manager.secrets.jwt.keys.secret }}
            - name: Jwt__Issuer
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.manager.secrets.jwt.name }}
                  key: {{ .Values.manager.secrets.jwt.keys.issuer }}
            - name: Jwt__Audience
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.manager.secrets.jwt.name }}
                  key: {{ .Values.manager.secrets.jwt.keys.audience }}
            - name: Jwt__RefreshTokenHashKey
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.manager.secrets.jwt.name }}
                  key: {{ .Values.manager.secrets.jwt.keys.refresh }}
            - name: SignalR__ConnectionString
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.manager.secrets.signalr.name }}
                  key: {{ .Values.manager.secrets.signalr.key }}
            - name: Avatars__StorageConnectionString
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.global.namePrefix }}-{{ .Values.manager.secrets.avatars.name }}
                  key: {{ .Values.manager.secrets.avatars.key }}
          resources:
            {{- toYaml .Values.manager.resources | nindent 12 }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.manager.name }}
  namespace: {{ include "app.namespace" . }}
spec:
  type: {{ .Values.manager.service.type }}
  selector:
    {{ .Values.manager.labels.selectorKey }}: {{ .Values.manager.labels.selectorValue }}
  ports:
    - port: {{ .Values.manager.ports.service }}
      targetPort: {{ .Values.manager.ports.container }}
