apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: zionet-apps
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/ZionetLearning/learning-teachin-zionet.git'
    targetRevision: HEAD
    path: devops/kubernetes/charts
    helm:
      valueFiles:
        - values.yaml
        - values.dev.yaml
      parameters:
      - name: global.namePrefix
        value: dev
      - name: namespace.name
        value: dev
      - name: namespace.create
        value: "false"
      - name: namePrefix
        value: dev
      - name: global.dockerRegistry
        value: teachindevacr.azurecr.io
      - name: global.environment
        value: dev
      - name: langfuse.enabled
        value: "true"
      - name: accessor.secrets.langfuse.enabled
        value: "true"
      - name: dapr.stateStore.redis.redisDB
        value: "0"
      - name: dapr.installComponents
        value: "false"
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: dev
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  