{{- if .Values.keda.enabled }}
apiVersion: http.keda.sh/v1alpha1
kind: HTTPScaledObject
metadata:
  name: manager-http-scaledobject
  namespace: {{ include "app.namespace" . }}
spec:
  hosts:
  - teachin.westeurope.cloudapp.azure.com
  scaleTargetRef:
    name: {{ .Values.manager.name }}
    port: {{ .Values.manager.ports.container }}
    service: manager
  replicas:
    min: 1               # Scale to zero when unused
    max: 1               # Maximum replicas
  scaledownPeriod: 200    # How long to wait before scaling down (seconds)
{{- end }}