{{- if .Values.keda.enabled }}
apiVersion: http.keda.sh/v1alpha1
kind: HTTPScaledObject
metadata:
  name: manager-http-scaledobject-{{ include "app.namespace" . }}
  namespace: {{ include "app.namespace" . }}
spec:
  hosts:
    - teachin.api.{{ include "app.namespace" . }}
  scaleTargetRef:
    name: {{ .Values.manager.name }}
    service: {{ .Values.manager.name }}
    port: {{ .Values.manager.ports.service }}
  replicas:
    min: 0
    max: 1
  pollingInterval: 5
  scaledownPeriod: 300
  targetPendingRequests: 1
{{- end }}