# name: AI Code Reviewer

# on:
#   pull_request:
#     types:
#       - opened
#       - synchronize
# on:
#   workflow_dispatch:
#   pull_request:
#     types: [opened, synchronize]
# permissions: write-all
# jobs:
#   review:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout Repo
#         uses: actions/checkout@v3

#       - name: AI Code Reviewer
#         uses: villesau/ai-codereviewer@v2.7.0
#         with:
#           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} The GITHUB_TOKEN is there by default so you just need to keep it like it is and not necessarily need to add it as secret as it will throw an error. [More Details](https://docs.github.com/en/actions/security-guides/automatic-token-authenticationabout-the-github_token-secret)
#           OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
#           OPENAI_API_MODEL: "gpt-4" Optional: defaults to "gpt-4"

#           OPENAI_API_KEY: ${{ secrets.AZURE_OPENAI_API_KEY }}
#           OPENAI_API_MODEL: "gpt-4.1-mini" Optional: defaults to "gpt-4"
#           OPENAI_API_BASE: "https://france-teachin-open-ai.openai.azure.com/"
#           OPENAI_API_VERSION: "2024-12-01-preview"                     
#           OPENAI_DEPLOYMENT_ID: "gpt-4.1-mini"
#           exclude: "**/*.json, **/*.md" Optional: exclude patterns separated by commas

name: GPT Review

# on:
#   pull_request:
#     types: [opened, synchronize]

on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize]

jobs:
  review:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: gpt-review
        uses: microsoft/gpt-review@v0.9.5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          openai-api-key: ${{ secrets.AZURE_OPENAI_API_KEY }}
          openai-api-base: "https://france-teachin-open-ai.openai.azure.com/"
          openai-api-model: "gpt-4.1-mini"
          openai-api-version: "2024-12-01-preview"
          openai-api-deployment-id: "gpt-4.1-mini"
