name: Azure OpenAI PR Review

on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize]

jobs:
  review:
    runs-on: ubuntu-latest

    steps:
      - name: Run Reviewabot with Azure OpenAI
        uses: Reviewabot/action@v3.0.0
        with:
          azure-open-ai-key: ${{ secrets.AZURE_OPENAI_API_KEY }}
          azure-open-ai-endpoint: "https://france-teachin-open-ai.openai.azure.com/"
          reviewer-pat: ${{ secrets.REVIEWER_GITHUB_PAT }}
