name: AI Code Reviewer

on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize]

permissions:
  contents: read
  pull-requests: write
jobs:
  review:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: AI PR Review Action
        uses: cheton/ai-code-reviewer@v0.1.0
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          AZURE_OPENAI_API_KEY: ${{ secrets.AZURE_OPENAI_API_KEY }}
          AZURE_OPENAI_API_VERSION: "2024-04-01-preview"
          AZURE_OPENAI_DEPLOYMENT: "gpt-4.1-mini"
          AZURE_OPENAI_ENDPOINT: "https://france-teachin-open-ai.openai.azure.com/"
          exclude: "**/*.json, **/*.md"

